$blue: rgb(39,39,164);
$light-grey: rgb(167,169,172);
$darker-grey: rgb(233, 235, 235);


// Animation Variables

$slide-speed: 0.75s;
$slide-delay: 0.4s;

$shop-speed: 0.6s;
$shop-delay: 0.4s;


$misc-speed: 0.3s;