@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Neuzeit';
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Neuzeit';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
.main-wrapper {
  overflow: hidden; }

.background-images {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%; }

.slick-list {
  height: 100%; }

.slick-track {
  height: 100%; }

.slick-slide {
  background-size: cover;
  background-position: center; }

.black-overlay {
  background: black;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out; }

.black-overlay.shown {
  visibility: visible;
  opacity: 0.6; }

@media screen and (max-width: 900px) {
  .background-images {
    position: relative;
    height: 30em; } }
@media screen and (max-width: 700px) {
  .background-images {
    height: 20em; } }
.yotm-wrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  z-index: 200;
  background: #2727a4;
  height: 100%;
  bottom: 0;
  top: 0;
  left: calc( -100% + 50px );
  box-sizing: border-box;
  padding: 8em 11.125em 8em 11.125em;
  transition: left 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: left 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

.yotm-wrapper.open {
  left: -50px;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s; }
  .yotm-wrapper.open .left-hand-reveal {
    background: #2727a4;
    color: white; }
  .yotm-wrapper.open .yotm-anchor .svg-wrapper {
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s; }
  .yotm-wrapper.open .yotm-anchor svg rect {
    fill: white; }

.yotm-anchor svg rect {
  transition: fill 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  transition-delay: 0;
  -webkit-transition-delay: 0; }

.yotm-anchor .svg-wrapper {
  width: 20px;
  position: absolute;
  top: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: -webkit-transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition-delay: 0s; }

.left-hand-reveal {
  transition: background 0.3s ease-out; }

.shop-info {
  transition: -webkit-transform 0.6s cubic-bezier(0.78, -0.2, 0.11, 1.2);
  transition: transform 0.6s cubic-bezier(0.78, -0.2, 0.11, 1.2);
  transition-delay: 0.4s; }

.shop-info.off-screen {
  -webkit-transform: translateY(-900px);
  transform: translateY(-900px);
  transition-delay: 0s; }

.yotm-button {
  color: inherit;
  position: absolute;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  left: -40px;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap; }

.yotm-button-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.yotm-wrapper .left-hand-reveal {
  background: #2727a4;
  color: white;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }
  .yotm-wrapper .left-hand-reveal:hover {
    cursor: pointer;
    background: #2929ae; }

.yotm-wrapper.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

body.noscroll {
  overflow: hidden; }

.yotm-description {
  color: white;
  font-size: 2.125em;
  line-height: 1.4;
  width: 65%; }
  .yotm-description p {
    margin-bottom: 1em; }
  .yotm-description a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid white;
    line-height: 1;
    transition: opacity 0.3s ease-out; }
    .yotm-description a:hover {
      opacity: 0.7; }

.project-info {
  margin-bottom: 4em; }

.project-info span {
  color: #a7a9ac;
  font-size: 1.125em;
  display: inline-block; }

@media screen and (max-width: 1300px) {
  .yotm-description {
    font-size: 1.75em;
    width: 70%; }

  .project-info {
    margin-bottom: 4em; }

  .yotm-wrapper {
    padding: 4em 7.125em 4em 7.125em; } }
@media screen and (max-width: 900px) {
  .yotm-description {
    width: 100%;
    font-size: 1.5em; }

  .yotm-wrapper {
    padding: 3em 5.125em 3em 5.125em; }

  .project-info {
    margin-bottom: 4em; } }
@media screen and (max-width: 900px) {
  .right-hand-buttons {
    display: none; }

  .yotm-wrapper {
    overflow: visible;
    left: -100%;
    padding: 3em 2.125em 3em 2.125em;
    position: fixed; }

  .yotm-wrapper.open {
    left: 0; }

  .yotm-button-wrapper {
    display: none; }

  .yotm-anchor .svg-wrapper {
    top: 15px;
    left: 50%; }

  .yotm-anchor svg rect {
    transition-delay: 0.4s; }

  .left-hand-reveal {
    height: 50px;
    right: -50px;
    z-index: 200;
    transition: right 0.3s ease-in-out, background 0.3s ease-in-out;
    transition-delay: 0.75s; }

  .yotm-wrapper.open .left-hand-reveal {
    right: 0;
    background: rgba(255, 255, 255, 0);
    transition-delay: 0s; }

  .shop-info.off-screen {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
.info-title {
  font-size: 0.875em;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2727a4;
  padding-bottom: 0.5em;
  margin-bottom: 3em; }

.shop-info {
  width: 390px;
  background: rgba(255, 255, 255, 0.95);
  padding: 2em;
  box-sizing: border-box;
  position: absolute;
  left: 5.125em;
  top: 2em; }
  .shop-info h2 {
    font-size: 1.750em;
    color: #2727a4;
    line-height: 1.2;
    margin-bottom: 1.8em;
    margin-top: 1em; }
  .shop-info h3 {
    font-size: 1em;
    color: #2727a4;
    line-height: 1.2;
    margin-bottom: 1.5em; }

.process-title, .shop-info p, .info-title {
  color: #a7a9ac;
  line-height: 1.3;
  margin-bottom: 1em; }

.shop-info p:last-of-type {
  margin-bottom: 0; }

.shop-buy-button {
  margin-top: 4em;
  border: none;
  padding: 1em 0;
  font-size: 1em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.5px; }

.buy-text {
  padding: 1em;
  background: #e9ebeb;
  color: #2727a4; }

.buy-price {
  background: #2727a4;
  padding: 1em;
  color: white; }

.back-to-home {
  color: #2727a4;
  text-decoration: none; }

.shop-error h2, .shop-success h2 {
  margin-bottom: 1.4em; }
.shop-error p, .shop-success p {
  margin-bottom: 2em; }

@media screen and (max-width: 900px) {
  .shop-info {
    position: relative;
    width: 100%;
    top: 0;
    left: 0; }

  .shop-buy-button {
    margin-bottom: 0; }

  .shop-success, .shop-error {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    left: 5%;
    right: 5%;
    box-sizing: border-box;
    width: 90%;
    visibility: hidden;
    top: 53%;
    -webkit-transition: top 0.3s cubic-bezier(0.78, -0.2, 0.11, 1.2), opacity 0.3s linear;
    -moz-transition: top 0.3s cubic-bezier(0.78, -0.2, 0.11, 1.2), opacity 0.3s linear;
    transition: top 0.3s cubic-bezier(0.78, -0.2, 0.11, 1.2), opacity 0.3s linear;
    opacity: 0; }

  .overlay-shown {
    visibility: visible;
    top: 50%;
    opacity: 1; } }
.right-hand-buttons {
  right: 0; }

.right-hand-button {
  height: 50%;
  background: rgba(255, 255, 255, 0.95);
  display: block;
  box-sizing: border-box; }

.right-hand-button:nth-child(1) {
  height: calc(50% - 1px);
  margin-bottom: 1px; }

.right-hand-buttons {
  width: 50px;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0; }

.right-hand-buttons a {
  position: relative; }

.buttons-text {
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  line-height: 50px;
  color: #2727a4;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0; }

/* Slider */
.slick-slider {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }

.slick-prev:before {
  content: "←"; }

[dir="rtl"] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: -25px; }

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto; }

.slick-next:before {
  content: "→"; }

[dir="rtl"] .slick-next:before {
  content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75; }

/*# sourceMappingURL=slick.css.map */

/*# sourceMappingURL=style.css.map */
