.main-wrapper {
	overflow: hidden;
}

.background-images {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	height: 100%;
}

.slick-list {
	height: 100%;
}

.slick-track {
	height: 100%;
}

.slick-slide {
	background-size: cover;
	background-position: center;
}

@media screen and ( max-width: 900px){
	.background-images {
		position: relative;
		height: 20em;
	}

}