.right-hand-buttons {
	right: 0;
}

.right-hand-button {
	height: 50%;
	background: rgba(255,255,255,0.95);
	display: block;
	box-sizing: border-box;
}

.right-hand-button:nth-child(1) {
	height: calc(50% - 1px);
	margin-bottom: 1px;
}

.right-hand-buttons {
	width: 50px;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
}

.right-hand-buttons a {
	position: relative;
}

.buttons-text {
	-webkit-transform: translateY(-50%) rotate(90deg);
	        transform: translateY(-50%) rotate(90deg);
	position: absolute;
	top: 50%;
	line-height: 50px;
	color: $blue;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}